*{
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  padding: 20px 40px;

  background: #5a189a;
  color: white;

  position: relative;
  z-index: 1000;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 20px;

  flex: 1;
}
.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  flex-shrink: 0;
}

.logo-img {
  width: 50px;
  height: 60px;
  object-fit: contain;
}

.logo {
  font-size: 22px;
  color: white;
  font-weight: bold;
}

.search {
  position: relative;

  display: flex;
  align-items: center;

  width: 100%;
  max-width: 400px;

  background: rgba(255, 255, 255, 0.08);

  border: 1px solid #fff;

  backdrop-filter: blur(10px);

  transition: 0.2s;
}

.search:focus-within {
  border-color: #9d4edd;
  box-shadow: 0 0 10px rgba(157, 78, 221, 0.4);
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 12px;
  background: transparent;
  color: white;
  font-size: 14px;
}

.search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-dropdown {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  background: #5a189a;
  border-radius: 10px;
  z-index: 9999;
  overflow-y: auto;
  max-height: 350px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.search-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.search-item:hover {
  background: rgba(255, 255, 255, 0.08);
}

.search-item img {
  width: 45px;
  min-width: 45px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}

.search-item span {
  color: white;
  font-size: 14px;
}

.no-results {
  padding: 12px;
  color: #aaa;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 15px;

  flex-shrink: 0;
}

.icon {
  position: relative;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.2s;
}

.icon:hover {
  transform: scale(1.1);
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

.login,
.register {
  background: transparent;
  border: 1px solid #fff;
  color: white;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.2s;
  white-space: nowrap;
}

.login:hover,
.register:hover {
  background: linear-gradient(135deg, #7b2cbf, #9d4edd);
}